* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcf9f9;
    font-family: sans-serif;
}

.nav-principal {
    background-color: white;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 22px;
}

.logo img {
    width: 40px;
}

.enlaces-nav {
    display: flex;
    gap: 40px;
}

.enlaces-nav a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.btn-invitacion {
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: #62d458;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-invitacion:hover {
    background-color: rgb(0, 252, 134);
    transform: scale(1.09);
}

/* -------------------------HEADER TERMINADO------------------------------- */

.hero {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 5%;
    min-height: 80vh;
    align-items: center;
}

.hero-texto {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.hero-texto h1 {
    font-size: 45px;
    font-weight: 400;
    color: #2d314d;
}

.hero-texto p {
    color: gray;
    line-height: 1.8;
    font-size: 18px;
    max-width: 420px;
}

.hero-imagen {
    width: 50%;
}

.hero-imagen img {
    width: 100%;
    padding-right: 0;
}

/* ---------------------------MAIN TERMINADO------------------------------ */

.article-main {
    background-color: rgb(248, 245, 245);
}

.article-heading {
    padding: 5% 0px 0px 5%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.article-heading h1 {
    font-weight: 400;
    padding: 0px 0px 0px 2%;
}

.article-heading p {
    font-size: 18px;
    color: gray;
}

.article-iconos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4% 5% 4% 5%;
    gap: 200px;
}

.article-iconos img {
    width: 90px;
    transition: all 0.3s ease;
}

.article-iconos img:hover {
    transform: scale(1.30);
}

.article-iconos h3 {
    font-size: 21px;
}

.article-iconos p {
    color: gray;
    font-size: 18px;
}

.iconos-adentro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ---------------------------ARTICLE TERMINADO--------------------------- */

.main-section {
    background-color: #fcf9f9;
    padding-bottom: 30px;
}

.main-section h2 {
    padding: 5% 0px 0px 5%;
    font-size: 30px;
    font-weight: 400;
}

.sections {
    display: flex;
    padding: 5% 5% 0px 5%;
    justify-content: space-between;
    gap: 20px;
}

.section-1:hover, .section-2:hover, .section-3:hover, .section-4:hover {
    transform: scale(1.02)
}

.section-1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.section-2 {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.section-3 {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.section-4 {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.section-1 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50%;
}

.section-2 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50%;
}

.section-3 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50%;
}

.section-4 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50%;
}

.section-1 span, h4, p {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.section-2 span, h4, p {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.section-3 span, h4, p {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.section-4 span, h4, p {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.section-1 span{
    color: gray;
    font-size: 15px;
}

.section-2 span{
    color: gray;
    font-size: 15px;
}

.section-3 span{
    color: gray;
    font-size: 15px;
}

.section-4 span{
    color: gray;
    font-size: 15px;
}

/* ---------------------------SECTION TERMINADO-------------------------- */

footer {
    background-color: #2d314d;
    padding: 60px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logos {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-logos span {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.footer-logos img {
    width: 150px;
    filter: brightness(0) invert(1);
}

.acb, .csp {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.acb span, .csp span {
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s;
}

.acb span:hover, .csp span:hover {
    color: #31d35c;
}

.footer-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.footer-end p {
    color: #9698a6;
    font-size: 14px;
}

.footer-end .btn-invitacion {
    font-size: 16px;
    padding: 12px 30px;
}

/* ----------------------------FOOTER TERMINADO---------------------------*/